body {
    background-image: url(imagens/backgroundlogin.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.boxcentrallogin {
    background-color: rgba(0, 0, 0, 0.226);
    border: 2px solid rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
    width: 330px;
    color: white;
    text-align: center;
    border-radius: 13px;
    padding: 30px 40px;
}

.boxcentrallogin .boxinputslogin {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.boxinputslogin input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.288);
    font-size: 19px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.boxinputslogin input::placeholder {
    color: white;
}

.boxinputslogin i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.boxcentrallogin .botaologin {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 40px;
    background-color: white;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.boxcentrallogin .registrolink {
    font-size: 13px;
    margin-top: 20px;
}

.registrolink p a {
    font-weight: 600;
    text-decoration: none;
    color: white;
}
